{% extends 'layout.html' %}
{% block content %}
    <main id='main'>
        <p>
            <header id="movies-header">
                <h1>{{ title }}
                {% if space1 != None %}
                    {{ space1 }}
                {% endif %}
                {% if space2 != None %}
                    {{ space2 }}
                {% endif %}
                {% if space3 != None %}
                    {{ space3 }}
                {% endif %}
                </h1>
            </header>

            <main>
            {% if movies != None %}
                {% for movie in movies %}
                    {% include 'movies/movie_list.html' %}

                    {% if movie.review |length != 0 %}
                        <p><strong>Reviews</strong></p>
                        {% for review in movie.review %}
                            <p>{{ review.review_text }}, by {{ review.user}}, {{review.time_strap}}, Rating: {{ review.rating }}</p>
                            <br>
                        {% endfor %}
                    {% endif %}
                    <a href="{{ movie.add_comment_url }}">Comment</a>
                    <p><br></p>
                    <p><br></p>
                {% endfor %}

                {% if first_movie_url != None %}
                    <a href="{{ first_movie_url }}">First Page</a>
                {% endif %}

                {% if prev_movie_url != None %}
                    <a href="{{ prev_movie_url }}">Previous Page</a>
                {% endif %}

                {% if next_movie_url != None %}
                    <a href="{{ next_movie_url }}">Next Page</a>
                {% endif %}

                {% if last_movie_url != None %}
                    <a href="{{ last_movie_url }}">Last Page</a>
                {% endif %}

            {% else %}
                <p>There is no matching movie.</p>
            {% endif %}
            </main>
        </p>
    </main>
{% endblock%}