<!DOCTYPE html>
<html lang="en">
<body>
<main id="main">
    <div>
        <ul>
            <p><strong>{{ movie.title }}</strong> {{ movie.time }}</p>
            <p><strong>Description:</strong> {{ movie.description }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Actors:</strong> {{ movie.actors }}</p>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Runtime:</strong> {{ movie.runtime }} Minutes</p>
            <p><strong>Rating:</strong> {{ movie.rating }}</p>
            <p><strong>Votes:</strong> {{ movie.vote }}</p>
            <p><strong>Revenue:</strong> {{ movie.revenue }} Millions</p>
            <p><strong>Meta Score:</strong> {{ movie.meta }}</p>
        </ul>
    </div>
</main>
</body>
</html>