Flask==1.1.2
flask-wtf==0.14.2
Jinja2==2.11.2
MarkupSafe==1.1.1
WTForms==2.3.3
python-dotenv==0.13.0
Werkzeug==0.16.0
password-validator==1.0
pytest==5.4.3
attrs==20.2.0
click==7.1.2
Importlib-metadata==1.7.0
itsdangerous==1.1.0
more-itertools==8.5.0
packaging==20.4
pip==20.2.3
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
setuptools==50.3.0
six==1.15.0
wcwidth==0.2.5
zipp==3.1.0



