<!DOCTYPE html>
<html lang="en">
<body>
<main id="main">
    <div>
        <ul>
            <p><strong>Movie:</strong> {{ movie.title }}, {{ movie.time }}</p>
            <p><strong>Description:</strong> {{ movie.description }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Actors:</strong> {{ movie.actors }}</p>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Runtime (Minutes):</strong> {{ movie.runtime_minutes }}</p>
            <p><strong>Rating:</strong> {{ movie.rating }}</p>
            <p><strong>Votes:</strong> {{ movie.vote }}</p>
            <p><strong>Revenue (Millions):</strong> {{ movie.revenue }}</p>
            <p><strong>Meta Score:</strong> {{ movie.meta }}</p>
        </ul>
    </div>
</main>
</body>
</html>